<footer>
  <div class="container">
    <div class="footer-top">
      <img src="assets/images/decor-img-1.svg" class="decor-img left" alt="" />
      <img src="assets/images/decor-img-2.svg" class="decor-img right" alt="" />
      <div class="row">
        <div class="col-md-12 col-xl-3">
          <div class="footer-info">
            <a href="">
              <img
                src="assets/images/logo-pizza-red.svg"
                class="footer-logo"
                alt=""
              />
            </a>
            <div class="footer-phone">
              <a href="tel:+380971830618">+38 097 18 306 18 </a>
              <p>пн-нд 10:00 - 22:30</p>
            </div>
            <ul class="social">
              <li class="nav-item">
                <a href="https://www.facebook.com/pizza.mammaitaliana">
                  <img src="assets/images/i-facebook.svg" />
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="https://www.instagram.com/_mapizza_/?igshid=NmNmNjAwNzg%3D"
                >
                  <img src="assets/images/i-instagram.svg" alt="" />
                </a>
              </li>
              <li class="nav-item">
                <a href="https://www.youtube.com/watch?v=EkfysYf80Ak">
                  <img src="assets/images/i-you-tube.svg" alt="" />
                </a>
              </li>
            </ul>
            <div class="title-download-app">Завантажуйте додаток</div>
            <ul class="items_download_app">
              <li class="nav-item">
                <a
                  href="https://apps.apple.com/us/app/ma-pizza/id1596914596"
                  rel="nofollow"
                >
                  <img src="assets/images/app-store-download.svg" alt="" />
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="https://play.google.com/store/apps/details?id=com.mamaitaliano.app"
                  rel="nofollow"
                >
                  <img src="assets/images/google-play-download.svg" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-xl-3 footer">
          <div class="footer-caption">
            <p>Меню:</p>
          </div>
          <ul class="nav menu-list flex-column">
            <li class="nav-item">
              <a  [routerLink]="['/pizza']" >Піца</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/salads']">Салати</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/desserts']">Десерти</a>
            </li>
            <li class="nav-item">
              <a  [routerLink]="['/drinks']">Напої</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-xl-3">
          <div class="footer-caption">
            <p>Про компанію:</p>
          </div>
          <ul class="nav flex-column footer-links">
            <li class="nav-item">
              <a [routerLink]="['/about-us']"
              routerLinkActive="route-active">Про нас</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/dostavka']"
              routerLinkActive="route-active">Доставка та оплата</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/actions']"
              routerLinkActive="route-active">Акції</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/kontakty']"
              routerLinkActive="route-active">Контакти</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/career']"
              routerLinkActive="route-active" >Вакансії</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/news']"
              routerLinkActive="route-active">Новини</a>
            </li>
            <li class="nav-item">
              <a href="#">Відгук</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-xl-3">
          <div class="footer-caption">
            <p>Львів:</p>
          </div>
          <ul class="flex-column footer-address">
            <li class="nav-item">
              <p>вул. Пасічна, 181</p>
            </li>
            <li class="nav-item">
              <p>вул. Івана Пулюя, 12</p>
            </li>
            <li class="nav-item">
              <p>вул. Малоголосківська, 16</p>
            </li>
            <li class="nav-item">
              <p>вул. Китайська, 10</p>
            </li>
            <li class="nav-item">
              <p>вул. Івана Франка, 71</p>
            </li>
            <li class="nav-item">
              <p>вул. Залізнична, 19</p>
            </li>
            <li class="nav-item">
              <p>вул. Тернопільська, 46</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
