<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-xxl-8 text-center">
        <div class="title-decor">
          <h1>Доставка та оплата</h1>
        </div>

        <div class="text text-left text-lg">
          <p>
            МA Pizza має власну кур’єрську службу, яка займається доставкою піци
            по Львову. Ви можете зробити замовлення на сайті чи зателефонувати
            до нашого кол-центру за номером +38 (097) 18 306 18. Перевірте, будь
            ласка, до якої зони доставки відноситься ваша адреса, адже від цього
            залежить, як швидко наш кур’єр зможе доставити Ваше замовлення. Щоб
            отримати безкоштовну доставку від МA Pizza, потрібно зробити
            замовлення на мінімальну суму – 300 грн або 400 грн відповідно до
            зон доставки, що вказані нижче.
          </p>
        </div>
      </div>
    </div>
    <div class="row delivery-block">
      <div class="col-xl-10 col-xxl-8">
        <div class="row terms-delivery-row justify-content-center">
          <div class="col-12 col-lg-6">
            <div class="delivery-item">
              <div class="zone-img">
                <img src="assets/images/green-zone-img.svg" alt="" />
              </div>
              <div class="zone-info-wrapper">
                <div class="title h5">Зелена зона</div>
                <ul class="zone-info text">
                  <li>
                    Середній час доставки складає
                    <strong class="text-black"> &lt; 29 хв</strong>
                  </li>
                  <li>
                    Мінімальна сума замовлення
                    <strong class="text-black"> 300 грн</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 green-block">
            <div class="delivery-item">
              <div class="zone-img">
                <img src="assets/images/yellow-zone-img.svg" alt="" />
              </div>
              <div class="zone-info-wrapper">
                <div class="title h5">Жовта зона</div>
                <ul class="zone-info text">
                  <li>
                    Середній час доставки складає
                    <strong class="text-black"> &lt; 59 хв</strong>
                  </li>
                  <li>
                    Мінімальна сума замовлення
                    <strong class="text-black">400 грн</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-xxl-10">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82352.49626423234!2d23.929834474256268!3d49.83277057387706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7c09109a57%3A0x4223c517012378e2!2z0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1694112773525!5m2!1suk!2sua"
              style="border-radius: 16px"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="section terms-delivery-sec">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10 col-xxl-8 text-center">
            <h1 class="title-decor">Оплата</h1>
            <div class="text text-left text-lg">
              <p>
                Наразі MA Pizza пропонує<strong> 3 способи оплати: </strong
                >онлайн через сервіс LiqPay, готівкою під час отримання
                замовлення, карткою через термінал під час отримання замовлення.
                Будь ласка, завчасно попередьте нашого менеджера, який спосіб
                оплати&nbsp; буде для Вас зручний, якщо оплата відбуватиметься
                безпосередньо під час отримання доставки.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex">
      <div class="col-xl-10 col-xxl-8">
        <div class="row terms-delivery-row justify-content-center d-flex">
          <div class="col-12 col-lg-6 payment-block">
            <div class="payment-item">
              <div class="payment-img">
                <img
                  src="https://mapizza.com.ua/wp-content/uploads/2021/09/payment-img-1.svg"
                  alt=""
                />
              </div>
              <div class="payment-item-info">
                <div class="title h5">Готівка</div>
                <div class="text">
                  <p>
                    Розраховуйтесь готівкою або карткою при отриманні кур’єрові
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 payment-block">
            <div class="payment-item">
              <div class="payment-img">
                <img
                  src="https://mapizza.com.ua/wp-content/uploads/2021/09/payment-img-2.svg"
                  alt=""
                />
              </div>
              <div class="payment-item-info">
                <div class="title h5">Кур'єр з терміналом</div>
                <div class="text">
                  <p>
                    Розраховуйтесь онлайн через сервіс LiqPay або його аналоги
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 payment-block">
            <div class="payment-item">
              <div class="payment-img">
                <img
                  src="https://mapizza.com.ua/wp-content/uploads/2021/09/payment-img-3.svg"
                  alt=""
                />
              </div>
              <div class="payment-item-info">
                <div class="title h5">Онлайн оплата</div>
                <div class="text">
                  <p>
                    Розраховуйтесь онлайн через сервіс LiqPay або його аналоги
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
