<div class="ing_body">
  <div class="ing_body-product" *ngIf="data.currentTovary">
    <div class="product">
      <div class="product_image-wrap">
        <div class="product_image">
          <img class="img" [src]="data.currentTovary.imagePath" alt="" />
        </div>
        <div class="product_top-right">
          <button class="fav-btn">
            <svg
              width="20"
              height="18"
              viewBox="0 0 20 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="fill-anime"
                d="M10.5167 16.3416C10.2334 16.4416 9.76675 16.4416 9.48342 16.3416C7.06675 15.5166 1.66675 12.075 1.66675 6.24165C1.66675 3.66665 3.74175 1.58331 6.30008 1.58331C7.81675 1.58331 9.15842 2.31665 10.0001 3.44998C10.8417 2.31665 12.1917 1.58331 13.7001 1.58331C16.2584 1.58331 18.3334 3.66665 18.3334 6.24165C18.3334 12.075 12.9334 15.5166 10.5167 16.3416Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="product_info-wrapper">
        <div class="product_controls">
          <div class="product_price-wrap">
            <span>
              <bdi>{{ data.currentTovary.price }}<span>грн</span> </bdi>
            </span>
          </div>
          <div class="product_size">
            / <span class="size">{{ data.currentTovary.weight }}</span> г
          </div>
        </div>
        <div class="product_title-wrap">
          <div class="product_title">
            <b>{{ data.currentTovary.name }}</b>
            <i><img [src]="data.currentTovary.imagePathCategory" alt="" /></i>
          </div>
        </div>
        <div class="product_desc">
          <p>{{ data.currentTovary.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ing_body-additional">
    <div class="ing_group">
      <div class="d-sm-flex justify-content-sm-between">
        <div class="title h6">Додаткові інгредієнти</div>
        <div class="total_ing-prise">
          Сума додатків:
          <span
            ><b>{{ totalPrice }}</b
            >грн</span
          >
        </div>
      </div>
      <div class="ing_output active">
        <div class="ing_control">
          <p
            class="ing_control-title"
            *ngFor="let product of selectedProducts; let i = index"
          >
            {{ product.name }}

            <button class="btn-close" (click)="removeProduct(i)"></button>
          </p>
        </div>
      </div>
      <div class="tab-i">
        <div class="ing_row">
          <div
            class="ingredient"
            *ngFor="let product of additionalComponents; let i = index"
            (click)="addProduct(product.name, i, product.price)"
            [ngClass]="product.class"
          >
            <div class="ingredient_img">
              <img [src]="product.imagePath" alt="" />
            </div>
            <p class="ingredient_title">{{ product.name }}</p>
            <div class="ingredient_bottom">
              <span>{{ product.weight }}г</span>
              <span
                ><b>{{ product.price }}</b> грн</span
              >
            </div>
            <div class="ingredient_action"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ing_footer">
  <div class="ing_footer-controls">
    <p>Кількість:</p>
    <div class="thumb-input-number">
      <button
        (click)="tovarCount(data.currentTovary, false)"
        type="button"
        class="decrement"
      >
        -
      </button>
      <input
        class="product-qty"
        [value]="data.currentTovary.count"
        readonly=""
      />
      <button
        (click)="tovarCount(data.currentTovary, true)"
        type="button"
        class="increment"
      >
        +
      </button>
    </div>
    <div class="price-wrap">
      Сума:
      <span
        ><b class="price">{{
          data.currentTovary.price * data.currentTovary.count + totalPrice
        }}</b>
        грн
      </span>
    </div>
  </div>
  <button (click)="addBasket(data.currentTovary)" class="btn-product order-btn">
    <span>замовити</span>
    <i>
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501"
          stroke="white"
          stroke-width="1.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z"
          stroke="white"
          stroke-width="1.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M12.9128 10H12.9203"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M7.07884 10H7.08632"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
    </i>
  </button>
</div>
