<main>
  <div class="section">
    <div class="container banner">
      <div class="banner-align">
        <img src="assets/images/photo_2023-07-31_14-17-44.jpg.webp" alt="" />
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <div class="banner-info">
              <h1 class="h2 title text-center">Про нас</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="benefits-wrapper b-shadow">
        <img
          class="decor-img left rellax"
          src="assets/images/decor-img-6.svg"
        />
        <div class="row benefits-row justify-content-center">
          <div class="benefits">
            <div class="col-xl-3 col-md-6">
              <div class="benefits-item">
                <div class="benefits-img">
                  <img src="assets/images/benefits-img-1.svg" alt="" />
                  <div class="h5">Італійські продукти найвищої якості</div>
                  <div class="benefits-info">
                    MA Pizza імпортує продукти топових європейських брендів
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="benefits-item">
                <div class="benefits-img">
                  <img src="assets/images/benefits-img-2.svg" alt="" />
                  <div class="h5">Неймовірний смак та хрустка скоринка</div>
                  <div class="benefits-info">
                    MA Pizza готує тісто для піци лише на італійському борошні
                    Caputo
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="benefits-item">
                <div class="benefits-img">
                  <img src="assets/images/benefits-img-3.svg" alt="" />
                  <div class="h5">
                    Професійні кухарі та піцайоли майстри своєї справи
                  </div>
                  <div class="benefits-info">
                    У МA Pizza працюють найкращі! Вболіваємо за розвиток кожного
                    працівника!
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="benefits-item">
                <div class="benefits-img">
                  <img src="assets/images/benefits-img-4.svg" alt="" />
                  <div class="h5">
                    Безкоштовна та швидка доставка у будь-який куточок м. Львів
                  </div>
                  <div class="benefits-info">
                    Середній час доставки у зеленій зоні – 29 хв.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-info">
    <div class="container">
      <div class="block-wrapper">
        <div class="block-info">
          <div class="h2">Як у Львові готують справжню італійську піцу</div>
          <div class="text text-lg">
            <p>
              Готувати справжню італійську піцу можуть або італійці, або ті, хто
              в них навчалися. Серед нас немає італійців, тож нашим завданням
              було перейняти досвід у віртуозів цієї справи. Вважаємо, що це нам
              вдалося! Щодня ми вдосконалюємося, щоб Ви ще більше закохувалися у
              кулінарну спадщину Італії. Оригінальні італійські рецепти,
              імпортні інгредієнти, трішки фантазії та любов до своєї роботи –
              наші основні пріоритети.
            </p>
          </div>
        </div>
        <div class="block-img">
          <img src="assets/images/block-img-1-884x493.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="section section-info">
    <div class="container">
      <div class="block-wrapper">
        <div class="block-img">
          <img src="assets/images/dsc_2950-767x510.jpg" alt="" />
        </div>
        <div class="block-info">
          <div class="h2">Трохи таланту, досвіду та позитиву</div>
          <div class="text text-lg">
            <p>
              Готувати справжню італійську піцу можуть або італійці, або ті, хто
              в них навчалися. Серед нас немає італійців, тож нашим завданням
              було перейняти досвід у віртуозів цієї справи. Вважаємо, що це нам
              вдалося! Щодня ми вдосконалюємося, щоб Ви ще більше закохувалися у
              кулінарну спадщину Італії. Оригінальні італійські рецепти,
              імпортні інгредієнти, трішки фантазії та любов до своєї роботи –
              наші основні пріоритети.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-info">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8 text-center">
          <div class="title-decor h2">
            <span>Імпортні продукти та піца з українською душею </span>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <div class="text text-lg">
              <video
                controls
                src="https://mapizza.com.ua/wp-content/uploads/2023/07/ma-pizza-dostavka-piczy-u-lvovi.webm"
              ></video>
              <p>
                MA Pizza є одним з лідерів на ринку імпортерів харчових
                продуктів. Ми самі обираємо бренди, перевіряємо якість товарів
                та імпортуємо їх до України. Переглянути увесь асортимент та
                здійснити покупку Ви можете у наших маркетах.
              </p>
              <p>
                Мамма імпортує й інгредієнти для піци, яку готують піцайоли у
                наших пекарнях. Запевняємо &nbsp;Вас, що усі продукти, які
                використовуються для приготування піци – найвищої якості.
                Наприклад: тунець для «Тонно», хамон для «Прошуто Крудо» ми
                веземо з Іспанії; помідори для неаполітанського соусу, борошно
                для тіста – з Італії; часто співпрацюємо з польськими та
                німецькими виробниками продуктів, які чудово смакуватимуть у
                наших стравах.
              </p>
              <p>
                Ми збирали рецепти в Італії, навчалися у майстрів з Неаполя, щоб
                готувати для Вас справжню піцу у неаполітанському стилі.
              </p>
              <p>
                На жаль, ми ще не доставляємо замовлення дронами, але у
                львівському трафіку наші кур’єри почуваються комфортно і
                доставляють піцу вчасно.
              </p>
              <p>Buon Apettito, наші найдорожчі гурмани!</p>
              <p>
                <img
                  src="assets/images/dsc_3189-1536x1022.jpg"
                  width="854"
                  height="568"
                />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
